html, body {
    height: 100%;
}

/* Flexbox untuk menempatkan footer di bawah */
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Konten utama agar fleksibel */
.content {
    flex: 1;
}

